{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-lg" style="margin: 1% 0 0 -3%; width: 120%; margin-top: 8%;">
  <div class="sticky-md-top">
    <h2>{{ problem.id }}. {{ problem.name }} </h2>
    <h6>({{problem.difficulty}})</h6>
  </div>
  <hr>

  {% autoescape off %}

  <div>{{ problem.statement }}</div>
  <br>

  {% endautoescape %}

  <hr>

  <p style="color:blue"><a href=./submission> My Submissions </a></p>
  <form action='' method="POST" style="margin: 0 0 4% 0; ">
    {% csrf_token %}
    <fieldset>
<!--
      <div class="mb-3" style="width: 40%;">
        <label for="language" class="form-label">
          <h6>Judges:</h6>
        </label>
        <select id="language" name="language" class="form-select" style="background-color: lightgrey;">
          {% for judge in judges %}
            {% if prejudge == judge.1 %}
              <option selected>{{ judge.1 }}</option>
            {% else %}
              <option>{{ judge.1 }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
-->

      <div class="mb-3">
        <label for="user_solution" class="form-label">
          <h6>Code:</h6>
        </label>
        <textarea class="form-control" name="code" id="user_solution" rows="10">{{ precode }}</textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>

</div>

{% endblock content %}